In [43]:
import numpy as np
import pandas as pd

#precision 3

pd.set_option('display.precision', 3)

df = pd.read_csv('C:/Users/gfxvh/통계적분석/source/data/ch2_scores_em.csv', index_col='student number')
df.head()

scores = np.array(df['english'])[:10]
scores

scores_df = pd.DataFrame({'score' : scores}, 
                         index=pd.Index(['A', 'B', 'C', 'D', 'E', 
                                         'F', 'G', 'H', 'I', 'J'],
                                        name = 'student')) 
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

In [32]:
sorted_scores = np.sort(scores)
sorted_scores

n = len(sorted_scores)
if n % 2 == 0:
    m0 = sorted_scores[n // 2 - 1]
    m1 = sorted_scores[n // 2]
    median = (m0 + m1) / 2
else:
    median = sorted_scores[(n + 1) // 2 - 1]

np.median(scores)

56.500

In [35]:
pd.Series([1, 1, 2, 2, 2, 2, 3]).mode()

0    2
dtype: int64

In [36]:
pd.Series([1, 2, 3, 4, 5]).mode()

0    1
1    2
2    3
3    4
4    5
dtype: int64